workflows/LinkedIn Job Search_ Auto-Match Resume with AI + Cover Letter & Telegram Alerts.json
{
  "name": "LinkedIn Job Search: Auto-Match Resume with AI + Cover Letter & Telegram Alerts",
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "links",
        "options": {}
      },
      "id": "bd8ca013-eefb-439e-b15b-48b5502ffa91",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        2368,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "22a12a7d-2ef7-47d2-8a01-50d1b24b3dc8",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        432,
        928
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "4f32bc04-34d5-48d3-b87b-eb6f9e5d655b",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        656,
        672
      ],
      "webhookId": "c9cb4878-ae4d-4b8e-bd37-5395011f7761",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Hi, you are a helpful job matcher, you read my resume then analyze the given resume and job description and provide a job matching score. also write a cover letter based on my resume and the job description. cover letter must be at least 2 paragraph and ignore the name, address and signiture part from start and end.\nif you are using special character like \" use \\ to escape it. output must be parse in json without error. \n\nfor example your response should be like: {\"score\": 80, \"coverLetter\": \"sample cover letter\" }\n\njob_description: {{ $json.description }}\nmy_resume: {{ $('Extract from File').all().length > 0 ? $('Extract from File').all()[0].json.text : \"\" }}\n",
        "options": {}
      },
      "id": "dbe8693f-b1bb-4a90-81f8-74e547da6345",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1616,
        672
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "7facf548-a5ae-40f6-9733-30b7dd18f5c6",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        992,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "105KmJwjzT_-rc2iMreUFUTGd8tYduMxj",
          "mode": "list",
          "cachedResultName": "Fayssal_Sabri_CV_.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/105KmJwjzT_-rc2iMreUFUTGd8tYduMxj/view?usp=drivesdk"
        },
        "options": {}
      },
      "id": "9ab899ad-6f37-446c-99bb-f7c92aae39e7",
      "name": "Download file",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        736,
        352
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ZjJpgHUK7GgXhvw2",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1sxVzElpzmQzIcEtMrwrkMzcd7a13LWEqnj6l_BnQBq0",
          "mode": "list",
          "cachedResultName": "n8n - Job Search",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sxVzElpzmQzIcEtMrwrkMzcd7a13LWEqnj6l_BnQBq0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1876105809,
          "mode": "list",
          "cachedResultName": "Result",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sxVzElpzmQzIcEtMrwrkMzcd7a13LWEqnj6l_BnQBq0/edit#gid=1876105809"
        },
        "columns": {
          "value": {
            "link": "={{ $('Modify Job Attributes').item.json.applyLink }}",
            "Title": "={{ $('Modify Job Attributes').item.json.title }}",
            "score": "={{ $json.score }}",
            "Company": "={{ $('Modify Job Attributes').item.json.company }}",
            "Location": "={{ $('Modify Job Attributes').item.json.location }}",
            "description": "={{ $('Modify Job Attributes').item.json.description }}",
            "Cover Letter": "={{ $json.coverLetter }}"
          },
          "schema": [
            {
              "id": "Title",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Title",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Company",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Location",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "link",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "link",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "score",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "score",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "description",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Cover Letter",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Cover Letter",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "link"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "26acf7d7-717b-4993-a35f-b8f47bacb932",
      "name": "Append or update row in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2288,
        672
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3zharjqQM1Ms3Hhf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6242655239",
        "text": "=Title: {{ $json.Title }}\nCompany: {{ $json.Company }}\nLocation: {{ $json.Location }}\nJob Score: {{ $json.score }}\nlink: {{ $json.link }}\ncover letter : {{ $json[\"Cover Letter\"] }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "85b27871-88f5-4cc5-8884-a9fd8714bb16",
      "name": "Send a text message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2816,
        960
      ],
      "webhookId": "17b9ebe8-c8d4-4bd9-ad20-45842ddc2c00",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "PD4upfBSpjYSE3QE",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1sxVzElpzmQzIcEtMrwrkMzcd7a13LWEqnj6l_BnQBq0",
          "mode": "list",
          "cachedResultName": "n8n - Job Search",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sxVzElpzmQzIcEtMrwrkMzcd7a13LWEqnj6l_BnQBq0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Filter ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sxVzElpzmQzIcEtMrwrkMzcd7a13LWEqnj6l_BnQBq0/edit#gid=0"
        },
        "options": {}
      },
      "id": "04ae55dc-2c78-4bef-b76b-a6abe0d2b287",
      "name": "Get row(s) in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1360,
        352
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3zharjqQM1Ms3Hhf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// URL de base LinkedIn\nlet url = \"https://www.linkedin.com/jobs/search/?f_TPR=r86400\";\n\n// Récupération des valeurs depuis le JSON\nconst input = $input.first().json;\n\n// Mots-clés / Skill\nconst keyword = input.Skill || \"\";\nif (keyword !== \"\") {\n  url += `&keywords=${encodeURIComponent(keyword)}`;\n}\n\n// Localisation\nconst location = input.Location || \"\";\nif (location !== \"\") {\n  url += `&location=${encodeURIComponent(location)}`;\n}\n\n// Niveau d'expérience / Seniority\nconst seniority = input.Seniority || \"\";\nif (seniority !== \"\") {\n  const transformedSeniority = seniority.split(\",\").map(exp => {\n    switch (exp.trim()) {\n      case \"Internship\": return \"1\";\n      case \"Junior\": return \"2\";\n      case \"Associate\": return \"3\";\n      case \"Mid-Senior level\": return \"4\";\n      case \"Director\": return \"5\";\n      case \"Executive\": return \"6\";\n      default: return \"\";\n    }\n  }).filter(Boolean);\n  if (transformedSeniority.length > 0) {\n    url += `&f_E=${transformedSeniority.join(\",\")}`;\n  }\n}\n\n// Mode de travail\nconst workMode = input.WorkMode || \"\";\nif (workMode !== \"\") {\n  const transformedWorkMode = workMode.split(\",\").map(mode => {\n    switch (mode.trim()) {\n      case \"On-site\": return \"1\";\n      case \"Remote\": return \"2\";\n      case \"Hybrid\": return \"3\";\n      default: return \"\";\n    }\n  }).filter(Boolean);\n  if (transformedWorkMode.length > 0) {\n    url += `&f_WT=${transformedWorkMode.join(\",\")}`;\n  }\n}\n\n// Type de contrat\nconst contract = input.Contract || \"\";\nif (contract !== \"\") {\n  const transformedContract = contract.split(\",\").map(type => {\n    switch (type.trim()) {\n      case \"Full-time\": return \"F\";\n      case \"Part-time\": return \"P\";\n      case \"Contract\": return \"C\";\n      case \"Temporary\": return \"T\";\n      case \"Other\": return \"O\";\n      case \"Internship\": return \"I\";\n      default: return \"\";\n    }\n  }).filter(Boolean);\n  if (transformedContract.length > 0) {\n    url += `&f_JT=${transformedContract.join(\",\")}`;\n  }\n}\n\n// Easy Apply (si nécessaire)\nconst easyApply = input.Applied || false;\nif (easyApply === true) {\n  url += \"&f_EA=true\";\n}\n\nreturn { url };"
      },
      "id": "8e9679f9-f523-4ae5-933a-50f4e085f9d1",
      "name": "Create search URL",
      "type": "n8n-nodes-base.code",
      "position": [
        1680,
        352
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 17
            }
          ]
        }
      },
      "id": "a1261369-4939-44a5-908f-1f79cf05d275",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        432,
        352
      ],
      "notesInFlow": false,
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "Worklofw executes daily at 5pm, you can change the interval and time of execution.\n",
        "height": 260
      },
      "id": "bff65551-c8ab-4f3b-a6f7-1705b340a4dc",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Read user resume from google drive, you need to upload your resume in pdf format and select in **From List** section.",
        "height": 260,
        "color": 4
      },
      "id": "5e5e4480-3608-45de-bda0-e7d36a2b20c3",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        656,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Convert pdf file into text to AI can read content.",
        "height": 260,
        "color": 5
      },
      "id": "b4ed86d6-8562-4738-9972-5eaa2ef296b5",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        928,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Read search filter consiste of keywords, location, experience level, remot, job type and easy apply from google sheet.\n\nYou can download [this Template](https://docs.google.com/spreadsheets/d/1mtKVxj_z_QCLGXMx0mJVihWSgS41SzHfU1Rv4r_mRY0) and copy in your personal space.",
        "height": 300,
        "width": 400,
        "color": 4
      },
      "id": "5c7bb6c3-ecfa-4fdd-a6f0-e1f8da743383",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1216,
        208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Create Linkedin search url from filter params.",
        "height": 260,
        "width": 180
      },
      "id": "fc4bc16a-a825-4d26-8b9b-2254338c7d56",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1632,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Extrat Job links from Linkdin search result",
        "height": 320,
        "width": 220
      },
      "id": "e83ad624-2aca-4ad4-b82b-69c2ea14deb8",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2048,
        192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "fetch jobs one by one",
        "height": 300,
        "width": 180,
        "color": 6
      },
      "id": "33939f6d-2a09-4f9f-a59c-f287ef4daf72",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2336,
        208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Wait 10 sec between each job fetch.",
        "height": 260,
        "width": 180,
        "color": 3
      },
      "id": "2add2540-d2ca-4903-b497-17bc141b4a18",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        608,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $json.links }}",
        "options": {}
      },
      "id": "df5815da-e55c-494e-919c-07b93ec4b9fa",
      "name": "Fetch Job Page",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        848,
        672
      ],
      "executeOnce": false,
      "retryOnFail": true,
      "typeVersion": 4.2,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "Parse job HTML page, extract **title**, **company**, **location**, **jobDescription** and **applyLink** from it",
        "height": 300,
        "width": 380,
        "color": 6
      },
      "id": "33b9404e-ca19-48f5-b55d-c62d6c5d4507",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1040,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "AI model compare your resume and job description and rate your resume from 0-100, (0 does not match, 100 fully match) and also AI will write a sample cover letter based on your resume and your expriences and job description.\nI used Gemini model here, you can use othe AI model like OpenAI (chat GPT)",
        "height": 440,
        "width": 540,
        "color": 7
      },
      "id": "a5c28135-f232-4fee-8127-646ec8f20854",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1440,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Convert AI output to JSON.",
        "height": 300,
        "width": 180,
        "color": 6
      },
      "id": "7bba7f09-fd34-477a-a4db-3c4baf3ca5af",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2000,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Add new job with score in google sheet.\n\nYou can download [this Template](https://docs.google.com/spreadsheets/d/1mtKVxj_z_QCLGXMx0mJVihWSgS41SzHfU1Rv4r_mRY0) and copy in your personal space.",
        "height": 300,
        "width": 260,
        "color": 4
      },
      "id": "b20dbe40-7efa-4378-89cc-53bb392221c2",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2208,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Send telegram message if matching score is greater than criteria defined in previuos step.",
        "height": 300,
        "width": 260,
        "color": 5
      },
      "id": "d5d301b7-fd22-4c4f-8523-39779ce8c88d",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2752,
        864
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Filter job that has score higher than 50. you can change filter criteria in this node.",
        "height": 300,
        "width": 260,
        "color": 4
      },
      "id": "b610e530-ad72-470a-a52e-d592797c51d4",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2496,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.output.replaceAll(/```(?:json)?/g, \"\") }}\n",
        "includeOtherFields": true,
        "options": {}
      },
      "id": "9838b440-d3ad-4665-b47b-d04e4d2cb928",
      "name": "Parse AI Output",
      "type": "n8n-nodes-base.set",
      "position": [
        2032,
        672
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": "div h1"
            },
            {
              "key": "company",
              "cssSelector": "div span a"
            },
            {
              "key": "location",
              "cssSelector": "div span[class*='topcard__flavor topcard__flavor--bullet']"
            },
            {
              "key": "description",
              "cssSelector": "div.description__text.description__text--rich"
            },
            {
              "key": "jobid",
              "cssSelector": "a[data-item-type='semaphore']",
              "returnValue": "attribute",
              "attribute": "data-semaphore-content-urn"
            }
          ]
        },
        "options": {}
      },
      "id": "a4d125b1-8d0c-4927-9470-33ab24b6706b",
      "name": "Parse Job Attributes",
      "type": "n8n-nodes-base.html",
      "position": [
        1072,
        672
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "784ead57-9d83-4e08-b83c-23fa165bf045",
              "name": "description",
              "type": "string",
              "value": "={{ $json.description.replaceAll(/\\s+/g, \" \") }}"
            },
            {
              "id": "fd3c9d2c-5ff9-46a7-b70a-f990fbc7da9d",
              "name": "jobid",
              "type": "string",
              "value": "={{ $json.jobid.split(\":\").last() }}"
            },
            {
              "id": "27a20cd2-ab0d-42b7-9cee-ea64e0e26ea3",
              "name": "applyLink",
              "type": "string",
              "value": "={{ \"https://www.linkedin.com/jobs/view/\"+ $json.jobid.split(\":\").last() }} "
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "ba71d7c3-a89a-447d-aba6-7a0fdfda19dc",
      "name": "Modify Job Attributes",
      "type": "n8n-nodes-base.set",
      "position": [
        1280,
        672
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "links",
              "cssSelector": "ul.jobs-search__results-list li div a[class*=\"base-card\"]",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "id": "af4831f6-f9fa-4d68-aee1-d0ba38d8a46c",
      "name": "Extract Job Links",
      "type": "n8n-nodes-base.html",
      "position": [
        2112,
        352
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1488,
        880
      ],
      "id": "fc59c9d7-a65e-4be4-ab11-ab4bd1e35499",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "har8nKFTIUeuz4Ty",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "1499f1ac-a7ae-4983-85c7-aa7b8445b2e2",
              "operator": {
                "type": "number",
                "operation": "gte"
              },
              "leftValue": "={{ $json.score }}",
              "rightValue": 50
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "19bf5463-06a1-4d69-99b3-11d4e0b2c7b1",
      "name": "Score Filter",
      "type": "n8n-nodes-base.if",
      "position": [
        2576,
        672
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "id": "13197864-2918-4e55-8991-8861ad723455",
      "name": "Fetch Jobs from linkedin",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1888,
        352
      ],
      "typeVersion": 4.2
    }
  ],
  "pinData": {},
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "Fetch Job Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Job Page": {
      "main": [
        [
          {
            "node": "Parse Job Attributes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Output": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create search URL": {
      "main": [
        [
          {
            "node": "Fetch Jobs from linkedin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Job Links": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Create search URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Job Attributes": {
      "main": [
        [
          {
            "node": "Modify Job Attributes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modify Job Attributes": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Score Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Score Filter": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Jobs from linkedin": {
      "main": [
        [
          {
            "node": "Extract Job Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1",
    "errorWorkflow": "AcKf5oCxVt3kkrEw"
  },
  "versionId": "d4cc425f-04d0-4593-ab8a-a9e1abf9da24",
  "meta": {
    "templateId": "6239",
    "templateCredsSetupCompleted": true,
    "instanceId": "b6fc82530f603202a9ff62fc0f2a816d50778578e00eaf039f4234f2b1ea1ff7"
  },
  "id": "AcKf5oCxVt3kkrEw",
  "tags": []
}